<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<center>
    <body bgcolor=#FFFFFF leftmargin=0 topmargin=0 marginwidth=0 marginheight=0 onload="preloadImages();">
        <!-- ImageReady Slices (index.psd) -->
        <table width=775 border=0 cellpadding=0 cellspacing=0 class="frame">
            <tr>
                <td rowspan=17>
                    <img src="images/m1.jpg" width=50 height=120 alt="">
                </td>
                <td colspan=3>
                    <img src="images/m3.jpg" width=229 height=120 alt="">
                </td>
                <td colspan=2>
                    <a href="index.html"
                       onmouseover="window.status='home page'; changeImages('home_page', 'images/home-page-over.jpg'); return true;"
                       onmouseout="window.status=''; changeImages('home_page', 'images/home-page.jpg'); return true;">
                        <img name="home_page" src="images/home-page.jpg" width=87 height=120 border=0 alt="home page">
                    </a>
                </td>
                <td>
                    <a href="about.html"
                       onmouseover="window.status='about us'; changeImages('about_us', 'images/about-us-over.jpg'); return true;"
                       onmouseout="window.status=''; changeImages('about_us', 'images/about-us.jpg'); return true;">
                        <img name="about_us" src="images/about-us.jpg" width=83 height=120 border=0 alt="about us">
                    </a>
                </td>
                <td colspan=4>
                    <a href="software.html"
                       onmouseover="window.status='software'; changeImages('software', 'images/software-over.jpg'); return true;"
                       onmouseout="window.status=''; changeImages('software', 'images/software.jpg'); return true;">
                        <img name="software" src="images/software.jpg" width=86 height=120 border=0 alt="software">
                    </a>
                </td>
                <td colspan=2>
                    <a href="support.html"
                       onmouseover="window.status='support'; changeImages('support', 'images/support-over.jpg'); return true;"
                       onmouseout="window.status=''; changeImages('support', 'images/support.jpg'); return true;">
                        <img name="support" src="images/support.jpg" width=86 height=120 border=0 alt="support">
                    </a>
                </td>
                <td colspan=3>
                    <a href="contacts.html"
                       onmouseover="window.status='contacts'; changeImages('contacts', 'images/contacts-over.jpg'); return true;"
                       onmouseout="window.status=''; changeImages('contacts', 'images/contacts.jpg'); return true;">
                        <img name="contacts" src="images/contacts.jpg" width=104 height=120 border=0 alt="contacts">
                    </a>
                </td>
                <td rowspan=17>
                    <img src="images/m2.jpg" width=50 height=120 alt="">
                </td>
                <td>
                    <img src="images/spacer.gif" width=1 height=120 alt="">
                </td>

        </table>
    </body>
</center>
    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</html>
